<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warbler</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/static/images/warbler-logo.png" alt="logo">
                    <span>Warbler</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if request.endpoint != None %}
                <li>
                    <form class="navbar-form navbar-right" action="/users">
                        <input name="q" class="form-control" placeholder="Search Warbler" id="search">
                        <button class="btn btn-default">
                            <span class="fa fa-search"></span>
                        </button>
                    </form>
                </li>
                {% endif %}
                {% if not g.user %}
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
                {% else %}
                <li>
                    <a href="/users/{{ g.user.id }}">
                        <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
                    </a>
                </li>
                <!-- DIRECT MESSAGE BUTTON -->
                <li><button class="btn btn-sm btn-primary" 
                            id="direct-message-btn" 
                            data-toggle="modal" 
                            data-target="#directMessage"><i class="fas fa-envelope"></i></button></li>
                <li><button class="btn btn-sm btn-success" id="new-warble-btn" data-toggle="modal" data-target="#newMessage">Post a Warble</button></li>
                <li><a href="/logout">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- BEGIN NEW MESSAGE MODAL -->
    <div class="modal fade" id="newMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Warble</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 pb-5 pt-3">
                        <form id="add-warble-form" method="POST">
                            <div id="add-warble-div">
                                <!-- Form will be rendered here -->
                            </div>
                            <button class="btn btn-outline-success btn-block">Add my message!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END NEW MESSAGE -->


    <!-- BEGIN DIRECT MESSAGE MODAL -->
    <div class="modal fade" id="directMessage" tabindex="-1" role="dialog" aria-labelledby="directModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="directModalLabel">Direct Messages</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 pb-5 pt-3">
                        <form id="direct-message-form" method="POST">
                            <div id="direct-message-div">
                                <!-- Form will be rendered here -->

                                <!-- <div class="auto-complete">
                                    <input type="search" class="form-control" name="dm-to" id="dm-to" data-toggle="dropdown" placeholder="Who you sending to?">
                                    <div id="autocomplete" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       <a class="dropdown-item" href="#">Action</a>
                                      </div>
                                </div>
                                <textarea name="dm-message" class="form-control" id="dm-message" cols="30" rows="5" placeholder="What's your message"></textarea> -->

                            </div>
                            <button type="submit" class="btn btn-outline-success btn-block">Send Message!</button>
                        </form>
                    </div>
                </div>
                    <!-- START DIRECT MESSAGE SAMPLE -->
                    <div class="d-flex justify-content-between pt-3 px-3 border-top"><span>[img] @ducks</span><span>April 13, 1996 4:30pm</span></div>
                    <div class="px-3">Direct Message Title Here....</div>
                    <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, pariatur minus, perspiciatis exercitationem, est tempore quo maiores voluptatibus ex amet eligendi quisquam totam laboriosam? Fuga maxime officia amet! Nihil, rem?</p>
                    <div class="d-flex justify-content-between pt-3 px-3 border-top"><span>[img] @kings</span><span class="pl-5">April 14, 1996 5:30pm</span></div>
                    <div class="px-3">Second Message Title Here....</div>
                    <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, pariatur minus, perspiciatis exercitationem, est tempore quo maiores voluptatibus ex amet eligendi quisquam totam laboriosam? Fuga maxime officia amet! Nihil, rem?</p>
                    <!-- END DIRECT MESSAGE SAMPLE-->
            </div>
        </div>
    </div>
    <!-- END DIRECT MESSAGE -->



        <div class="container">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}

            {% block content %}
            {% endblock %}

        </div>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        <script src="/static/warbler.js"></script>

</body>

</html>